.about-cat,
.about-owner {
  label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  input {
    flex-grow: 1;
    height: 45px;
    margin: 5px 0 5px 10px;

    border: 1px solid $tints-of-whisper;
    outline: none;

    &:hover {
      border: 1px solid $very-light-grey;
    }

    &:active {
      border: 1px solid $very-light-grey;
    }

    &:focus {
      border: 1px solid $charcoal;
    }
  }

  ::placeholder {
    padding-left: 15px;

    color: $charcoal;
    text-transform: uppercase;
  }
}
