.addition {
  margin-top: 23px;

  @media (min-width: $tablet) {
    margin-top: 62px;
  }

  @media (min-width: $desktop) {
    margin-top: 68px;
  }
}

.addition__legend {
  @media (min-width: $tablet) {
    margin-bottom: 62px;
  }
}

.addition__item {
  margin-bottom: 25px;

  color: $black;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  label {
    position: relative;

    display: block;
    margin-left: 46px;

    @media (min-width: $tablet) {
      margin-left: 58px;
    }
  }
}

.addition-checkbox + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -46px;

  width: 30px;
  height: 30px;

  border: 1px solid $very-light-grey;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
    left: -58px;
  }
}

.addition-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -40px;

  width: 18px;
  height: 14px;

  background-image: url("../img/svg/check.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    top: 7px;
    left: -46px;
    width: 26px;
    height: 26px;
  }
}

.addition-checkbox:focus + label::before {
  box-shadow: 0 0 1px 2px $black;
}

.addition-checkbox:disabled + label::before {
  cursor: none;
  opacity: 0.3;
}

.addition-checkbox:disabled + label {
  cursor: none;
  opacity: 0.3;
}


.addition__wrapper {
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    display: grid;
    margin: 0;

    grid-row-gap: 18px;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    display: grid;

    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
