.advantages {
  margin: 10px 0;
  padding: 0 20px;
}

.advantages__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  padding: 10px 0;
}

.advantages__desc {
  padding-left: 80px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-add;
  color: $charcoal;
}
