.comment__textarea {
  width: 100%;
  margin: 5px 0;

  border: 1px solid $tints-of-whisper;
  outline: none;
  resize: none;
  padding: 10px;

  &:hover {
    border: 1px solid $very-light-grey;
  }

  &:active {
    border: 1px solid $very-light-grey;
  }

  &:focus {
    border: 1px solid $charcoal;
  }

  &::placeholder {
    color: $charcoal;
    text-transform: uppercase;
    padding: 10px;
  }
}
