.contacts {
  @media (min-width: $desktop) {
    position: relative;
  }
}

.contacts__location {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: $tablet) {
    display: grid;
    width: 100%;
    padding: 0 30px;

    grid-gap: 438px;
    grid-template-columns: 1fr 1fr;

    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 110px;

    width: 570px;
    height: 201px;
    padding: 66px 89px 51px 76px;

    background-color: $white;
    transform: translateY(-50%);

    grid-gap: 87px;
  }
}

.contacts__slogan {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tints-of-black;
  text-transform: uppercase;
}

.contacts__address {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-add;
  color: $charcoal;
}

.contacts__map-block {
  width: 100%;
  height: 362px;

  background-image: url("../../img/content/map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-width: $tablet) {
    height: 400px;
  }
}
