.example {
  padding: 10px 20px;

  background-color: $whisper;

  @media (min-width: $tablet) {
    padding: 10px 30px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-bottom: 70px;
    background: none;
  }
}

.example__container {
  padding: 0;
}

.example__header {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet) {
    padding: 10px 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    padding: 10px 110px;
  }
}

.example__wrapper {
  @media (min-width: $tablet) {
    background-color: $whisper;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.example__plus {
  @media (min-width: $tablet) {
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    padding: 10px 110px;
    margin: 0 auto;
  }
}

.example__desc {
  margin: 25px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-add;
  color: $charcoal;
}

.example__content {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.example__change {
  display: flex;
  justify-content: space-around;
}

.example__weight {
  margin-right: 30px;
}

.example__cost {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
