.intro {
  @media (min-width: $tablet) {
    margin: 0 auto;
    // min-height: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 694px;
    background: linear-gradient(to left, rgba(#68b738, 0.85) 0%, rgba(#68b738, 0.85) 100%), url("../img/selection__bg.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50% auto;

    &__wrapper {
      width: 100%;
      padding: 0 110px;
    }
  }
}
