.legend {
  margin: 20px 0 0;

  font-size: 14px;
  line-height: 16px;
  font-family: $font-add;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
    margin: 15px 0 0 11px;
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    margin: 18px 0;
  }
}
