.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-main;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;

    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  padding: 23px 0;

  border-top: 1px solid $exstra-whisper;

  @media (min-width: $tablet) {
    margin-left: 25px;

    border: none;
  }

  @media (min-width: $desktop) {
    margin-left: 33px;
  }
}

.main-nav__item:hover,
:focus {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}

.main-nav__item:last-child {
  border-bottom: 1px solid $exstra-whisper;

  @media (min-width: $tablet) {
    border: none;
  }
}

.main-nav__item--active:not(.active-nav) {
  border-bottom: 2px solid $apple;

  pointer-events: none;

  @media (min-width: $desktop) {
    border-bottom: 2px solid $white;
  }
}
