.page-footer {
  width: 100%;

  background-color: $white-smoke;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 12px 20px;

  @media (min-width: $tablet) {
    display: grid;
    align-items: baseline;
    padding: 32px 30px;

    grid-gap: 105px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
  }

  @media (min-width: $desktop) {
    grid-gap: 200px;
    padding: 38px 110px 25px;
    justify-items: center;
  }
}

.page-footer__logo {
  align-self: center;
  padding: 27px 0;

  text-align: center;


  @media (min-width: $desktop) {
    justify-self: left;
  }
}

.page-footer__logo svg:hover,
.page-footer__logo svg:hover:focus {
  opacity: 0.8;
}

.page-footer__logo svg:active {
  opacity: 0.6;
}

.page-footer__social {
  position: relative;

  display: grid;
  margin: 0;
  padding: 20px;

  list-style: none;

  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: calc(100vw - 40px);
    height: 1px;

    background-color: $bainsboro;
    transform: translateX(-50%);

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &::after {
    top: 0;
  }

  @media (min-width: $tablet) {
    justify-content: center;
    padding: 10px 15px;
    grid-gap: 20px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: center;
    grid-gap: 22px;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  padding: 22px 20px 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-add;
  color: $charcoal;

  svg {
    margin-left: 140px;

    fill: $dim-gray;

    @media (min-width: $tablet) {
      margin-left: 25px;
    }

    @media (min-width: $desktop) {
      margin-left: 22px;
    }
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding: 20px 0 10px;

    border: none;
  }

  @media (min-width: $desktop) {
    justify-self: right;
    align-items: center;
  }
}

.page-footer__copyright-link:hover,
.page-footer__copyright-link:focus {
  svg {
    fill: $apple;
  }
}

.page-footer__copyright-link:active {
  opacity: 0.3;

  svg {
    stroke: $light-apple;
  }
}
