.page-header {
  @media (min-width: $tablet) {
    display: grid;
    align-items: baseline;
    margin: 0 auto;
    padding: 27px 0;

    grid-template-columns: 1fr 3fr;

    .page-header__toggle {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    max-width: 1440px;

    color: $white;

    grid-template-columns: 1fr 1fr;
    padding: 50px 110px 0;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  @media (min-width: $desktop) {
    justify-self: left;
  }
}

.page-header__logo-link {
  img {
    margin: 0 20px;

    @media (min-width: $tablet) {
      margin: 0 5px;
    }
  }
}
