.products__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;


  @media (min-width: $tablet) {
    display: grid;
    margin: 0;

    grid-gap: 62px;
    grid-row-gap: 39px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-gap: 77px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.products__item {
  align-items: center;
  padding: 10px 0 23px;

  border-bottom: 1px solid $exstra-whisper;

  &:first-child {
    border-top: 1px solid $exstra-whisper;

    @media (min-width: $tablet) {
      border: none;
    }
  }

  @media (min-width: $tablet) {
    padding: 28px 34px 40px 35px;

    background: linear-gradient(to bottom, transparent 0%, transparent 19%, $white-smoke 19%, $white-smoke 100%);
  }

  @media (min-width: $desktop) {
    padding: 40px 40px 40px;

    background: linear-gradient(to bottom, transparent 0%, transparent 22%, $white-smoke 22%, $white-smoke 100%);
  }
}

.products__item-content {
  display: grid;
  align-items: end;
  margin-bottom: 20px;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 31px;
  }
}

.products__item-image {
  @media (min-width: $tablet) {
    width: 168px;
    height: 200px;

    background-color: transparent;
  }

  @media (min-width: $desktop) {
    width: 172px;
    height: 200px;
  }
}

.products__item-link {
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.products__item-title {
  margin: 10px 0 12px;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 0 50px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin: 10px 0 16px;
    padding: 0 15px;

    line-height: 21px;
  }
}

.products__item-desc {
  @media (min-width: $tablet) {
    width: 100%;
  }
}

.products__item-table {
  width: 100%;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-add;
  color: $charcoal;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.products-table__info {
  display: grid;

  grid-template-columns: 1fr max-content;

  td {
    padding: 0;
  }

  @media (min-width: $tablet) {
    padding: 7px 0;

    border-bottom: 1px solid $very-light-grey;
  }
}

.products__item--show-all {
  position: relative;

  min-height: 209px;
  padding: 73px 0 15px;

  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 102px;
    padding: 160px 40px 38px;

    background: none;
    border: 1px solid $exstra-whisper;
  }

  @media (min-width: $desktop) {
    margin-top: 119px;
    padding: 162px 38px 38px;

    background: none;
  }
}

.products__item--show-all::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 50%;

  width: 30px;
  height: 2px;

  background-color: $light-gray;
  transform: translateX(-50%);

  @media (min-width: $tablet) {
    top: 80px;

    width: 60px;
  }

  @media (min-width: $desktop) {
    top: 81px;
  }
}

.products__item--show-all::after {
  content: "";
  position: absolute;
  top: 24px;

  width: 2px;
  height: 30px;

  background-color: $light-gray;

  @media (min-width: $tablet) {
    top: 50px;

    height: 60px;
  }

  @media (min-width: $desktop) {
    top: 52px;
  }
}

.products__item-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $nero;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 0 50px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.products__item-text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 21px;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-add;
  color: $charcoal;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
    padding: 0 20px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.products__item-button {
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  text-align: center;

  transform: translateX(0);

  @media (min-width: $tablet) {
    padding: 10px 93px;
  }

  @media (min-width: $desktop) {
    width: 168px;
    margin: 0 auto;
    padding: 10px 53px;
  }
}

.products__item-button-all {
  width: 100%;

  text-align: center;
  color: $charcoal;

  background-color: $white-smoke;
  transform: translateX(0);
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $desktop) {
    padding: 10px 39px;
  }

  &:hover,
  &:focus {
    background-color: $shades-of-whisper;
  }

  &:active {
    color: $charcoal;

    opacity: 0.3;
  }
}
