.programs {
  margin: 22px 0 0;

  @media (min-width: $tablet) {
    margin: 0 0 46px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.programs__wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
  }
}

.programs__list {
  display: grid;
  margin: 0;
  padding: 0 20px;

  list-style: none;

  grid-gap: 16px;

  @media (min-width: $tablet) {
    padding: 0 30px;

    grid-gap: 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;

    grid-gap: 77px;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  margin: 0 auto;
  padding: 7px 20px;

  background-color: $white-smoke;

  &--slim {
    position: relative;

    @media (min-width: $tablet) {
      padding: 38px 44px 38px 52px;
    }

    @media (min-width: $desktop) {
      padding: 36px 52px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 23%;
      left: 22%;

      width: 50px;
      height: 53px;

      background-image: url("../img/svg/programs/cat_slim_mobile.svg");
      transform: translate(-78%, -77%);

      @media (min-width: $tablet) {
        top: 50%;
        left: 71.5%;

        width: 200px;
        height: 211px;

        background-image: url("../img/svg/programs/cat_slim_tablet.svg");
        transform: translate(-29.5%, -50%);
      }

      @media (min-width: $desktop) {
        top: 31%;
        left: 24%;

        width: 100px;
        height: 106px;

        background-image: url("../img/svg/programs/cat_slim_dekstop.svg");
        transform: translate(-86%, -69%);
      }
    }
  }

  &--pro {
    position: relative;

    @media (min-width: $tablet) {
      padding: 39px 53px 38px 52px;

      p {
        margin: 25px 260px 33px 0;
      }
    }

    @media (min-width: $desktop) {
      padding: 35px 54px 48px;

      p {
        margin: 73px 0 19px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 23%;
      left: 23%;

      width: 67px;
      height: 50px;

      background-image: url("../img/svg/programs/cat_pro_mobile.svg");
      transform: translate(-75%, -77%);

      @media (min-width: $tablet) {
        top: 51%;
        left: 70%;

        width: 268px;
        height: 200px;

        background-image: url("../img/svg/programs/cat_pro_tablet.svg");
        transform: translate(-31%, -49%);
      }

      @media (min-width: $desktop) {
        top: 30%;
        left: 23%;

        width: 134px;
        height: 100px;

        background-image: url("../img/svg/programs/cat_pro_dekstop.svg");
        transform: translate(-72%, -66%);
      }
    }
  }
}

.programs__header {
  padding: 0;
  padding-left: 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-main;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 38px 0 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-left: 160px;
    margin-top: 40px;
  }
}

.programs__desc {
  margin: 30px 0 0 0;
  padding-bottom: 23px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-add;
  color: $charcoal;
  border-bottom: 1px solid $bainsboro;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 24px 234px 33px 0;

    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    margin: 72px 0 18px;
    padding: 0;
  }
}

.programs__link {
  position: relative;

  padding: 19px 0;

  font-size: 16px;
  line-height: 16px;
  font-family: $font-main;
  text-align: left;
  color: black;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;


  background-color: transparent;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    padding: 10px 0;
  }

  &:hover,
  &:active {
    .programs__link-arrow {
      svg {
        transform: translateX(0);
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__link-text {
  margin-right: 16px;

  @media (min-width: $tablet) {
    margin-right: 26px;
  }

  @media (min-width: $desktop) {
    margin-right: 28px;
  }
}

.programs__link-arrow {
  display: flex;
  overflow: hidden;

  svg {
    transition: all 0.3s;
    transform: translateX(-9px);
  }
}
