.programs {
  margin: 80px 0;
}

.programs__wrapper {
  margin: 0 auto;

  width: 100%;
  @media (min-width: $tablet) {
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
  }
}

.programs__list {
  display: grid;
  margin: 0;
  padding: 0 20px;

  list-style: none;

  grid-gap: 30px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;

    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  padding: 0 20px;

  background-color: $white-smoke;

  @media (min-width: $desktop) {
    padding: 0 30px;
  }
}

.programs__header {
  padding-left: 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-main;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding-left: 214px;
  }
}

.programs__desc {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-add;
  color: $charcoal;

  @media (min-width: $tablet) {
    padding-right: 280px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding: 0 53px;
  }
}

.programs__link {
  padding: 15px 0;

  font-family: $font-main;
  text-align: left;
  color: black;

  background-color: transparent;
  border-top: 1px solid $bainsboro;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    padding: 30px 50px;

    border: none;
  }
}

.programs__link:active {
  color: $light-black;
}
