.program-selection {
  margin-bottom: 20px;
}

.program-selection__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.program-selection__subtitle {
  width: 260px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
    width: 400px;
  }
}

.program-selection__wrapper-cat-program {
  @media (min-width: $desktop) {
    display: grid;

    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
}

.program-selection__item {
  margin: 20px 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $charcoal;
  text-transform: uppercase;

  border: none;
  border-bottom: 1px solid $bainsboro;

  @media (min-width: $tablet) {
    border: none;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 15px 0;
  }
}

.legend {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  text-transform: none;
}

.program-selection__button {
  border: none;
  transform: translateX(0);
}

.program-selection__legend {
  margin-top: 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
    padding: 0 10px;
  }
}

.program-selection__button-wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
