.selection {
  position: relative;
  min-height: 480px;

  font-family: $font-main;
  text-align: center;
  color: $white;

  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 63%, transparent 63%, transparent 100%), url("../img/content/selection__bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 63%, transparent 63%, transparent 100%), url("../img/content/selection__bg@2x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%, 320px 63%;
  }

  @media (min-width: $tablet) {
    text-align: left;
    color: $black;

    background: none;
    margin-top: 36px;
  }

  @media (min-width: $desktop) {
    margin-top: 81px;
    margin-bottom: -9px;

    display: flex;
  }
}

.selection__wrapper {
  @media (min-width: $desktop) {
    padding: 0 80px;
    display: flex;
  }
}

.selection__title {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 27px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-main;

  @media (min-width: $tablet) {
    max-width: 600px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    margin: 0 80px 40px 86px;
  }

  @media (min-width: $desktop) {
    font-size: 60px;
    line-height: 60px;
    max-width: 575px;
    margin: 0 80px 40px 0;
  }
}

.selection__slogan {
  padding-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-main;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;

    margin: 0 80px 49px 88px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    margin: 0 80px 52px 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.selection__button {
  position: absolute;

  @media (min-width: $tablet) {
    width: 242px;
    padding: 16px 24px;
    position: relative;
    left: 0;
    transform: translate(0);
    z-index: 5;
    margin-left: 84px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.selection__img {
  display: flex;
  margin-top: 34px;
  flex-shrink: 0;

  img {
    width: 280px;
    height: 270px;
  }

  @media (min-width: $tablet) {
    margin-top: -80px;

    img {
      width: 709px;
      height: 609px;
    }
  }

  @media (min-width: $desktop) {
    transform: translateX(-138px);

    img {
      width: 552px;
      height: 499px;
    }
  }
}
