.selection {
  align-content: center;
  padding: 0;

  font-family: $font-main;
  text-align: center;
  color: $white;

  background-image: url("../img/selection__bg.jpg"), url("../../img/apple.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto, contain;

  @media (min-width: $tablet) {
    height: 800px;
    padding: 0 30px;

    text-align: left;
    color: $black;

    background-image: url("../../img/content/cat_energy-pro-big.jpg");
    background-position-y: bottom;

    img {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 200px 0;

    background-image: none;
  }
}

.selection__title {
  padding-top: 27px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-main;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding-bottom: 0;
    padding-left: 87px;

    font-size: 60px;
    line-height: 60px;

    br {
      display: block;
    }
  }
}

.selection__slogan {
  padding-top: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-main;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 0;
    margin-bottom: 25px;
    padding-left: 87px;

    font-size: 20px;
    line-height: 20px;
  }
}

.button {
  width: 100%;
  margin: 0;
  padding: 13px 48px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-main;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  background-color: $apple;

  &:hover,
  &:focus {
    background-color: $limeade;
  }

  &:active {
    color: $light-white;
  }
}

.selection__button {
  @media (min-width: $tablet) {
    width: 255px;
    margin-left: 87px;
    padding: 14px 26px;

    font-size: 20px;
    line-height: 20px;
  }
}
