.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 22px;

  @media (min-width: $tablet) {
    justify-self: center;
    align-items: baseline;
    width: 30px;
    height: 33px;
  }
}

.social__link {
  color: $dim-gray;

  svg {
    @media (min-width: $tablet) {
      width: 30px;
      height: 24px;

      vertical-align: middle;
    }
  }

  &--fb {
    svg {
      fill: transparent;
    }
  }
}

.social__link:hover,
.social__link:focus {
  color: $apple;
}

.social__link:active {
  opacity: 0.3;
}
