.toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 26px 30px 26px 35px;

  @media (min-width: $tablet) {
    padding: 4px 96px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 38px;
  }
}

.toggle__button {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dashed $black;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid $black;
    outline: none;
  }

  &:active {
    border-bottom: none;
    outline: none;
  }
}

.toggle .current {
  color: $black;
}
