.page {
  height: 100%;
  font-size: 18px;
  font-family: $font-main;
  line-height: 27px;
}

.page__body {
  max-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background-color: $white;
  color: $black;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}
